@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #0b0b10;
  color: white;
  font-family: Inter, system-ui, sans-serif;
}

/* UNISWAP STYLE BASE LAYER */
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
}